<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <% links.forEach(link => { %>
        <li class="main-header__item">
          <a class="<%= link.calculateClass(path) %>" href="<%= link.href %>"><%= link.label %></a>
        </li>
      <% }); %>
    </ul>
  </nav>
</header>
